.output {
  color: white;
  flex: 1;
  border-color: red;
  height: 100vh !important;
  max-height: 100vh !important;
  
  overflow-y: auto;

  .line {
    font-family: Consolas, "Courier New", monospace;
    white-space: pre;
    margin: 0;
    height: 19px;
  }

  hr.line {
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    height: 10px !important;
  }

  .dropdown {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  h1, h2, h3, h4, h5, h6, li::marker {
    color: #569cd6;
  }

  blockquote {
    background-image: initial;
    background-color: rgb(48, 51, 52);
    border-left-color: rgb(170, 170, 170);
    background: rgba($color: #505050, $alpha: 0.5);
    border-left: 10px solid #7a7a7a;
    padding: .5em 2em .5em 1em;
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-left: .75em !important;

    p{
      display: inline;
    }
  }

  *:last-child {
    flex-grow: 1; /* Allows the last paragraph to grow */
    height: 95vh; /* Make the last <p> occupy 95% of the viewport height */
    min-height: 100vh; /* Ensures the last element doesn't shrink */
  }
}
