.container {
  display: flex;
  width: 100vw;
}

.input {
  flex: 1;
}

.output {
  color: white;
  flex: 1;
}

.output>.line {
  font-family: Consolas, "Courier New", monospace;
  white-space: pre;
  margin: 0;
  height: 19px;
}

hr.line {
  border: none;
  border-bottom: 1px solid white;
  height: 10px !important;
}